body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

#hero {
  margin: 64px auto;
  width: 626px;
}

#hero img {
  margin: 0 auto 32px;
}

h1 {
  margin: 0px 66px 16px 66px;
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  color: #3F3D56;
  font-weight: 500;
}

h1 span {
  font-weight: 700;
  color: #EE24FF;
}

p {
  font-size: 15px;
  margin: 0 36px 32px 50px;
  color: #828282;
}

p span {
  font-weight: 700;
  color: #3F3D56;
}

a {
  font-size: 15px;
  font-weight: 700;
  color: #3F3D56;
  text-decoration: none;
}

#footer a + a {
  margin-left: 42px;
}

#line {
  width: 391px;
  height: 0;
  margin: 0 auto 16px;
  border: 1px solid #ECEFF2;
}

#wave {
  margin-top: 40.83px;
}